<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>CLIENT_ID</key>
        <string>756414175610-qct7mrv73kb5osm7701ck6vp5detnc2i.apps.googleusercontent.com</string>
        <key>REVERSED_CLIENT_ID</key>
        <string>com.googleusercontent.apps.756414175610-qct7mrv73kb5osm7701ck6vp5detnc2i</string>
        <key>API_KEY</key>
        <string>AIzaSyBr8Z7xbmd9hna_BSdKbh2NZGWvp96-kuY</string>
        <key>GCM_SENDER_ID</key>
        <string>756414175610</string>
        <key>PLIST_VERSION</key>
        <string>1</string>
        <key>BUNDLE_ID</key>
        <string>com.jixcayau.memorama</string>
        <key>PROJECT_ID</key>
        <string>memorama-6c284</string>
        <key>STORAGE_BUCKET</key>
        <string>memorama-6c284.appspot.com</string>
        <key>IS_ADS_ENABLED</key>
        <false></false>
        <key>IS_ANALYTICS_ENABLED</key>
        <false></false>
        <key>IS_APPINVITE_ENABLED</key>
        <true></true>
        <key>IS_GCM_ENABLED</key>
        <true></true>
        <key>IS_SIGNIN_ENABLED</key>
        <true></true>
        <key>GOOGLE_APP_ID</key>
        <string>1:756414175610:ios:4fa54b69ade396ffe75ec3</string>
    </dict>
</plist>
